div#header {
	height: 38px;
	width: 300px;
	padding: 0;
	background-image: url(../images/header_background.png);
	border-bottom: 1px solid #424b54;
}

div#profile_image {
	width: 30px;
	height: 30px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
	position: absolute;
	background-image: url(../images/user_profile_image.png);
}

span#contact_full_name {
	font: bold 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	width: 200px;
	margin-left: 42px;
	position: absolute;
	padding-top: 11px;
	color: #fffeff;
}

div#settings {
	width: 44px;
	height: 24px;
	float: right;
	margin-top: 7px;
	margin-right: 6px;
	background-image: url(../images/header_settings.png);
}

section#message_main {
	width: 300px;
	height: 400px;
	position:  relative;
	background-image: url(../images/main_background.png);
}

div#message_body {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 321px;
}

span.message_thread_sent, span.message_thread_receive {
	font: 11px "Lucida Grande", Lucida, Verdana, sans-serif;
	width: 280px;
	background: none no-repeat;
	padding: 10px;
	border-bottom: 1px solid #424b54;
	float: left;
	color: #f5fef7;
}

span.message_thread_receive {
	background-color: #48515b;
}

div#message_input {
	position: absolute; bottom: 0;
	height: 39px;
	width: 300px;
	background-image: url(../images/header_background.png);
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	border-top: 1px solid #424b54;
}

div#message_input input[type='submit'] {
	width: 30px;
	height: 30px;
	border-bottom-style: none;
	border-style: none;
	background: url(../images/send_button.png) no-repeat;
	margin-bottom: 0;
	margin-left: 6px;
	position: absolute;
	top: 4px;
	left: 259px;
}

div#message_input input[type='text'] {
	width: 248px;
	height: 30px;
	border-bottom-style: none;
	border-style: none;
	background: url(../images/send_message_input.png) no-repeat;
	padding-left: 7px;
	position: absolute;
	top: 4px;
	left: 5px;
}